<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24925394101-1nnq3asoij5jbf7fntr16tnsq0j0a75n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24925394101-1nnq3asoij5jbf7fntr16tnsq0j0a75n</string>
	<key>API_KEY</key>
	<string>AIzaSyCFlAlHULAQZEHAI8y0yMhbSzLnFPDH7MA</string>
	<key>GCM_SENDER_ID</key>
	<string>24925394101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NLCompany.BasicIntegration</string>
	<key>PROJECT_ID</key>
	<string>happyfoodfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>happyfoodfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:24925394101:ios:ac424d3c6ca6efd4835afc</string>
	<key>DATABASE_URL</key>
	<string>https://happyfoodfirebase.firebaseio.com</string>
</dict>
</plist>
